body {
  margin: 0;
  height: 100vw;
  position: relative;
}

.header {
  background-color: wheat;
}

.header__content {
  display: flex;
  width: 200px;
  padding: 20px 0;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__content-column {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-around;
}

.header__button {
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395a;
  cursor: pointer;
  height: 48px;

  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 10px;

  transition: box-shadow 0.15s, transform 0.15s;
  will-change: box-shadow, transform;
}

.header__button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.header__button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.header__button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.main {
  display: flex;
  padding: 30px;
  height: 500px;
  color: white;
  background: linear-gradient(#0f1011, #243b55);
}

.main__content-column {
  width: 50%;
}

.main__content-column:first-child {
  margin-right: 30px;
}

.main_cover {
  position: fixed;
  display: none;
  /* display: block; todo remove */
  background-color: RGBA(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  padding-bottom: 20px;
  transform: translate(-50%, -50%);
  background: linear-gradient(#fff5ca, #ad9b7c);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #000;
}

.close {
  display: inline-block;
  position: absolute;
  padding: 0 9px;
  right: 0;
  top: 0;
  cursor: pointer;
}

.close::before {
  content: "\00d7"; /* This will render the 'X' */
  color: black;
  font-size: 30px;
}

.form__row {
  margin-bottom: 20px;
}

.form__row select {
  margin-right: 10px;
}

.form__row div {
  padding-top: 6px;
}

.form__control {
  padding: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #0f1011;
  border-color: #0f1011;
  background-color: white;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.form__control:hover {
  background-color: #0f1011;
  color: white;
  transition: 0.2s;
}

.form__control:disabled {
  pointer-events: none;
  background-color: gray;
  border: none;
  color: wheat;
}

.form__control:after {
  font-weight: bold;
}

.form__control_minus:after {
  content: "-";
}

.form__control_plus:after {
  content: "+";
}

.form__button {
  position: relative;
  border: none;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 20px;
  letter-spacing: 4px;
  color: #fff;
  background-color: #243b55;
}

.form__button:hover {
  background-color: #0f1011;
}

.form__controls {
  display: inline-block;
}

.error {
  display: none;
  color: red;
  margin-top: 20px;
  border: 1px solid red;
  padding: 2px;
  text-transform: uppercase;
}

.visible {
  display: block;
}
